
.DS_Store
# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model and checkpoint files
*.h5
*.ckpt
*.pt

# Logs
*.log

